@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #070203;
  color: #ffffff;
}

.card {
  transition: all 0.3s ease;
}

